dotenv

export GOOSE_DRIVER=postgres
export GOOSE_MIGRATION_DIR=sql/schema
export GOOSE_TABLE=goose_db_version
export GOOSE_DBSTRING=postgres://gator:$DB_PASSWORD@192.168.1.27:42104/gator?sslmode=disable
